apiVersion: v1
kind: Service
metadata:
  name: user-profile-service
  labels:
    name: user-profile-service
    app: car-parking-user-profile
spec:
  type: NodePort
  ports:
    - targetPort: 5000
      port: 80
      nodePort: 30010
  selector:
    name: car-parking-user-profile