apiVersion: v1
kind: Pod
metadata: 
  name: user-profile-service
  labels: 
    name: msone
    app: car-parking-booking-app
spec:
  containers:
  - name: user-profile-service
    image: litheshp/user-profile-service
---
apiVersion: v1
kind: Service
metadata:
  name: service-ms
spec:
  type: NodePort
  ports:
  - targetPort: 5000
    port: 80
    nodePort: 30008
  selector: 
    name: msone
    app: user-profile-service
